

._*
.AppleDouble
.bash_sessions/
.bin/e
.bin/git-fixup
.config/
.dropbox/
.DS_Store
.electron-gyp/
.electron/
.local/share/karabiner/log/console_user_server.log
.local/share/karabiner/pid/karabiner_console_user_server.pid
.local/share/karabiner/pid/menu.pid
.local/share/karabiner/pid/preferences_window.pid
.LSOverride
.netrwhist
.node-gyp/
.npm/
.nvm/
.pylint.d/razor-middleware-default-service.src.authenticator1.stats
.pylint.d/razor-middleware-default-service.src.main1.stats
.pylint.d/razor-middleware-default-service.src.model.admins1.stats
.pylint.d/razor-middleware-default-service.src.model.simple_search1.stats
.Trash/
.vscode/
.yarn/
.zcompdump
.zcompdump-Rettynuh2-5.3
.zcompdump-Rettynuh2-5.7.1
.zsh_history
.zshrc.pre-oh-my-zsh
*.db
*.dbx
Applications/
bin/
config/
Desktop/
Documents/
dotfiles-psk/
dotfiles/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
src/
vim/.vim/plugged
vim/.vim/spell